/* MessagesComponent's private CSS styles */
.message__header {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/*
  A) Nicht mehrfach die selbe styleClass (button.clear) definieren, alles in eine Definition
  B) Nicht mehrfach in einer Definition den selben Wert (cursor) setzen ^^
  C) Nicht die styleclass von button abhängig machen
*/
.button__clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #888;
  margin-bottom: 12px;
}
.button__clear:hover {
  background-color: #cfd8dc;
}
.button__clear:disabled {
  color: #aaa;
  cursor: auto;
}
