/* DashboardComponent's private CSS styles */
.header__heroes {
  text-align: center;
  margin-bottom: 0;
}
 /* Hab das hier mal auf flexbox umgebaut, jetz funktioniert das sauber auf kleineren Bildschirmen
    und man kann auch mehr oder weniger als 4 Elemente anzeigen. */
.top-heroes__container {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero__container {
  flex: 1 0 auto;
  padding: 10px;
}

.module {
  margin: 0;
  padding: 40px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607d8b;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
