<h2>My Heroes</h2>

<div>
  <label>Hero name: </label>
  <input #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="button__add" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ng-container *ngIf="heroes$ | async as heroes">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a [routerLink]="['/detail', hero.id]">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="button__delete" (click)="delete(hero)">x</button>
    </li>
  </ul>
</ng-container>
